<script
  src="https://kit.fontawesome.com/6866a8ccc0.js"
  crossorigin="anonymous"
></script>

<!-- Header of the application -->
<div id="symbol">
  <h3 style="text-transform: capitalize;">Track your daily habit here.</h3>
  <div>
    <i class="fas fa-check-circle" style="font-size: 20px;"></i>
    -Done&emsp;&emsp;
    <i class="fas fa-times-circle" style="font-size: 20px;"></i>
    -Not Done&emsp;&emsp;
    <i class="fas fa-minus-circle" style="font-size: 20px;"></i>
    -Action Not Taken&emsp;&emsp;<br /><br />
  </div>
</div>

<!-- Toggle between two types of views Weekly and Detailed -->
<div id="view-toggler" style="text-align: center">
  <button
    type="button"
    onclick="document.getElementById('weekly-status-list').style.display = 'none'
    document.getElementById('habit-container-list').style.display = 'block'"
    class="button-85"
  >
    Habit Details
  </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button
    type="button"
    onclick="document.getElementById('habit-container-list').style.display = 'none'
    document.getElementById('weekly-status-list').style.display = 'block'"
    class="button-85"
  >
    Weekly Status
  </button>
</div>

<!-- From here habit and its contains start, it basically fetches data form habit, which is passed in the home_controller. -->
<div id="habit-container">
  <ul id="habit-container-list">
    <% for(let habit of habitsList) {%>
    <li class="habit-container-list-item" id="details-<%= habit._id%>">
      <div class="habit-container-item">
        <%let currentDate = new Date(); console.log(currentDate); let day = currentDate.getDay(); let
        status = habit.days[day]; let month = currentDate.getMonth()+1;
        let dateStringFormat = currentDate.getDate()+"-"+month+"-"+currentDate.getFullYear(); %>
        <div style="display: flex; justify-content: space-between">
          <i class="fa-solid fa-list-check"> Habit : <%=habit.description%></i>
          <i class="fa-regular fa-clock"> <%=habit.time%></i>
        </div>
        <div style="display: flex; justify-content: space-between">
          <a href="/toggle-status/<%= habit._id%>/<%= day%>/<%= dateStringFormat%>">
            <% if(status=='yes'){ %>
            <i class="fas fa-check-circle"> Done </i>
            <% } else if(status=='no'){ %>
            <i class="fas fa-times-circle"> Not Done </i>
            <% } else { %>
            <i class="fas fa-minus-circle"> Action not taken </i>
            <% } %>
          </a>
          <a href="/favourite-habit/<%= habit._id %>">
            <% if(habit.isFav == true){ %>
            <i class="fa-solid fa-star"></i>
            <% } else { %>
            <i class="fa-regular fa-star"></i>
            <% } %>
          </a>
        </div>
        <div style="display: flex; justify-content: space-between">
          <p>Daily Completed Habit Count: <%=habit.completedCount%></p>
          <p>Longest Streak: <%=habit.longestStreak%></p>
          <a href="/delete-habit/<%= habit._id %>" class="delete-habit-button">
            <i class="fa-regular fa-trash-can"></i></a>
        </div>
      </div>
    </li>
    <%}%>
  </ul>

  <ul id="weekly-status-list">
    <%let currentDate = new Date(); let daysOfWeek = ["Sun", "Mon", "Tue", "Wed", "Thurs", "Fri", "Sat"]%>
    <% for(let habit of habitsList) {%>
    <li class="habit-weekly-container-list-item" id="weekly-<%= habit._id %>">
        <div class="habit-description-weekly">
            <p>Habit : <%=habit.description%></p>
            <p>Favourite: 
                <% if(habit.isFav == true){ %>
                <i class="fa-solid fa-star"></i>
                <% } else { %>
                <i class="fa-regular fa-star"></i>
                <% } %>
              </p>
            <p>Daily Completed Habit Count: <%=habit.completedCount%></p>
            <p>Longest Streak: <%=habit.longestStreak%></p>
            <i class="fa-regular fa-clock"> <%=habit.time%></i>
        </div>
        <div class="habit-daywise-container">
          <% for (var i=0; i < 7; i++ ) { %>
            <%let newDate = new Date();%>
            <% newDate.setDate(currentDate.getDate()-i); let month = newDate.getMonth()+1;%>
            <% let dateStringFormat = newDate.getDate()+"-"+month+"-"+newDate.getFullYear(); %>
            <a href="/toggle-status/<%= habit._id%>/<%= newDate.getDay()%>/<%= dateStringFormat%>">
              <div class="week-day-status">
                <% let status = habit.days[newDate.getDay()] %>
                <% if(status=='yes'){ %>
                <i class="fas fa-check-circle"> Done </i>
                <% } else if(status=='no'){ %>
                <i class="fas fa-times-circle"> Not Done </i>
                <% } else { %>
                <i class="fas fa-minus-circle"> Empty </i>
                <% } %>
                <p><%=daysOfWeek[newDate.getDay()]%></p>
                <p><%= dateStringFormat %></p>
                <!-- <p><%=newDate.getDate().toString()%>/<%=newDate.getMonth().toString()%>/<%=newDate.getFullYear().toString()%> -->
                </p>
              </div>
            </a>
          <% } %>
        </div>
    </li>
    <% } %>
  </ul>
</div>
