<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/80a786f28a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="/javascript/script.js"></script>
        <link rel="stylesheet" href="/css/home.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header') -%>
        <main>
            <div style="margin-top: 3vw;">
                <%- body -%>
            </div>
        </main>
        <%- include('_footer') -%>
        <%- script -%>
    </body>
</html>